* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Geologica', sans-serif;
}

header {
    width: 100vw;
    box-sizing: border-box;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    align-items: center;
    padding: 20px 30px 0 30px;
}

header h1 {
    text-transform: none;
    font-family: 'Cabin Sketch', sans-serif;
    padding-right: 30px;
}

.nav-links ul {
    display: flex;
    justify-content: space-between;
    padding: 0 200px 0 20px;
    font-weight: 300;
}

header .nav-links {
    flex: 2 2;
}

header .nav-links ul li {
    display: inline-block;
    border: 2px solid white;
    padding-bottom: 12px;
    padding-top: 12px;
    transition: border 0.2s;
    margin-bottom: 2px;
}


header .nav-links ul li:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

header .other-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 20%;
    justify-content: space-between;
}

header .other-links .header-button {
    text-transform: capitalize;
    letter-spacing: 0px;
    font-size: inherit;
    padding: 0.5rem 1.5rem;
    background-color: #166aea;
    border: 0;
    border-radius: 20px;
    color: white;
    transition: transform 0.2s;

}

header .other-links .header-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

main {
    width: 100%;
    padding-bottom: 120px;
    color: white;
    background: linear-gradient(126deg, rgb(47, 64, 173) 27.9051%, rgb(57, 79, 183) 39.7138%, rgb(42, 59, 169) 50.9115%, rgb(57, 79, 183) 63.5819%, rgb(53, 74, 181) 91.6055%);
}

.main-para-heading {
    font-weight: 800;
    font-size: 5rem;
    text-align: center;
    padding-top: 50px;
    width: 100%;
}

.main-para-quesiton {
    margin: 20px 0 35px 0;
    font-size: 1.3rem;
    font-weight: 200;
    text-align: center;
}

.main-selection-parent {
    text-transform: capitalize;
    width: 100%;
    text-align: center;
}

.main-selections {
    display: inline-block;
    text-align: center;
    width: 65%;

}

main .main-selections div {
    text-align: center;
    margin: 10px 10px;
    text-align: center;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 10px;
    width: 7em;
    padding: 0.7em 1.4em;
    display: inline-block;
    transition: all 0.3s;
}

.start-button-center-element {
    font-weight: 300;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
}

main .start-button {
    display: inline-block;
    color: black;
    width: 7em;
    margin: 40px 0;
    background-color: white;
    padding: 1rem 2.4rem;
    border-radius: 30px;
    transition: transform 0.2s;
}

main .start-button:hover {
    transform: scale(0.9);
    cursor: pointer;
}

main .main-selections div:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    cursor: pointer;
}


main .image-container {
    display: inline-block;
    height: 80vh;
    width: 50%;
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    position: relative;
}


main .image-box {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-image: url(resources/fruitsodaimage.webp);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

main .image-container2 {
    color: black;
    font-size: 0.8rem;
    font-weight: 200;
    display: inline-block;
    width: 10%;
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    transition: all 0.2s;
}

main .image-box2 {
    width: 100%;
    background-image: url('resources/fru.webp');
    background-repeat: no-repeat;
    background-size: contain;
}

.flex-container-images {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.image-container2-inside-heading {
    font-weight: bold;
    margin: 10px 0;
}

.image-container2-button {
    border: none;
    border-radius: 10px;
    padding: 4px 7px;
    margin-top: 9px;
    font-size: 12px;
    color: white;
    background-color: #166aea;
}

.website-link-image {
    font-weight: 200;
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    position: absolute;
    right: -250px;
    top: 40px;
    opacity: 0.7;
}

main .image-container2:hover {
    transform: translatex(-20px);
}

/* correcting responsiveness as i like using mediaquery */

@media only screen and (max-width:1096px) {
    .nav-links ul {
        display: none;
    }

    div.other-links {
        flex-basis: 46%;
    }

}

@media only screen and (max-width:700px) {
    div.other-links {
        flex-basis: 40%;
        flex-shrink: 2;
    }

    p.main-para-heading {
        font-size: 3.5rem;
    }

    div.start-button {
        font-size: 18px;
    }

    div.main-selection-parent {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    div.main-selections {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    div.main-selections div {
        font-size: 12px;
        margin: 5px;
    }

    .flex-container-images {
        flex-direction: column;
        align-items: center;
    }

    main .image-container {
        width: 80%;
        height: 50vh;
        background-position: center;
    }

    div.website-link-image {
        display: none;
    }

    main .image-container2 {
        margin-top: 30px;
        width: 50%;
        display: flex;
        justify-content: space-between;

    }
}

@media only screne and(max-width:450px) {

    div.other-links {
        flex-basis: 30%;
    }

}

@media only screen and (max-width:459px) {
    header {
        font-size: 0.7rem;
    }

    p.main-para-quesiton {
        font-size: 0.6rem;
    }

    div.other-links {
        flex-basis: 59%;
    }

    p.main-para-heading {
        font-size: 1.9rem;
    }

    div.start-button {
        font-size: 12px;
    }

    div.main-selection-parent {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    div.main-selections {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    div.main-selections div {
        font-size: 9px;
        margin: 5px;
    }

    main .image-container {
        width: 90%;
        height: 50vh;
    }

    div.website-link-image {
        display: none;
    }

    main .image-container2 {
        margin-top: 30px;
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: end;

    }

    div.image-box {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
}